* {
  box-sizing: border-box;
}
.column {
  flex: 25%;
  border: 1px solid lightgray;
  padding: 10px;
  margin: -2px -2px;
}
.insta {
  width: 24px;
  height: 24px;
  margin-top: 15px;
}
.profile {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 5px;
}
.header {
  width: 300px;
  height: 18px;
  display: flex;
  font-weight: bold;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.imageClass {
  width: 300px;
  height: 200px;
}

@media screen and (max-width: 992px) {
  .column {
    flex: 50%;
  }
}

@media screen and (max-width: 768px) {
  #row {
    flex-direction: column;
  }
}
.btn {
  color: white;
  background-color: #18a0fb;
  border: #18a0fb;
  padding: 10px;
  display: flex;
  margin: auto;
}
.name {
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  flex-grow: 4;
}
#row {
  display: flex;
  flex-wrap: wrap;
}
.caption {
  font-family: Arial, Helvetica, sans-serif;
  color: #615e5d;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}
.likes {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  color: #615e5d;
}
.date {
  color: lightgrey;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 60px;
}
#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 80%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  margin: auto;
}
.imgFormat {
  width: 400px;
  height: 250px;
}
.modalClass {
  display: flex;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 10px;
  border: 1px solid #888;
  width: 80%;
  border-top: 1px solid lightgray;
}

.footer {
  width: 150px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
}
.captionModal {
  margin-top: 80px;
  display: flex;
  margin-left: -260px;
  width: 300px;
  border-top: 1px solid lightgray;
  padding: 10px;
}

.dateNew {
  margin-left: -183px;
  margin-top: 20px;
  color: lightgrey;
}
.heartLike {
  display: flex;
  margin-left: -260px;
}
.heartLike p {
  display: flex;
}
